#container {
    /* max-width: 1000px; */
    width: 85%;
    height: 80%;
    /* height: 600px; */
    margin: 1em auto;
    
}

.highcharts-label-icon {
    opacity: 0.5;
}

html, body {
    height: 100%;
    margin: 0;
}

